.places {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 2 * 148px);
    padding-top: 92px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1279px) {
    .places {
    max-width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1023px) {
    .places {
    margin-top: 92px;
    max-width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        padding-top: 64px;
    }
    .places:first-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 320px) {
    .places {
        margin: 0;
        max-width: 100%;
        align-items: flex-start;
    }
}