.header__links{
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    list-style-type: none;
    margin-right: 16px;
}

@media screen and (max-width: 768px) {
    .header__links {
        margin-top: 30px;
        margin-right:24px;
    }
}
@media screen and (max-width: 320px) {
    .header__links {
        margin: 0;
    }
}