.lead{
    margin: 56px auto 0;
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lead:last-child{
    align-items: left;
}
@media screen and (max-width: 1279px) {
    .lead {
        max-width: calc(100% - 2 * 24px);
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 1023px) {
    .lead {        
        width: calc(100% - 2 * 10px);
    }
}