.place__paragraphs{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1279px) {
    .place__paragraphs {
        width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraphs {
        width: calc(100% - 2 * 24px);
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        width: calc(100% - 2 * 69px);
        padding-top: 32px;
    }
}