.place__paragraph{
margin: 0;
padding: 0;
min-height: auto;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;
}
.place__paragraph:first-of-type{
  margin-bottom: 26px;

}

.place__paragraph:last-of-type {
padding: 0;
}

@media screen and (max-width: 1279px) {
    .place__paragraph:first-of-type {
      margin-bottom: 25px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
      margin: 0 0 25px;
    }
    .place__paragraph:first-of-type{
      margin-bottom: 25px;
  
  }
  }
  
  @media screen and (max-width: 767px) {
    .place__paragraph {
      margin-bottom: 25px;
      margin-left: 16px;
    }

  }