.place__paragraph{
margin: 0;
padding: 0;
min-height: auto;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;
margin-bottom: 25px;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
      margin-bottom: 25px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
    }
  }
  
  
  @media screen and (max-width: 767px) {
    .place__paragraph:last-of-type {
      margin-bottom: 0;
    }
  }
  