.footer__copyright{
margin: 0;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
max-height: 16px;
}
@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: 1;
        padding-top: 16px;
        padding-bottom: 24px;
    }
}