.intro__text {
    font-size: 16px;
    line-height: 1.63;
    margin: 40px 0 33px;
    max-width: 690px;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: 288px;
        margin-bottom: 34px;
    }
}