.lead__subtitle{
    width: 640px;
    height: 72px;
    margin-bottom: 64px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */

    color: #FFFFFF;
    text-align: center;
}