.cover {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1184px;
  max-height: 740px;
  box-sizing: content-box;
  
}



@media screen and (max-width: 1279px) {
  .cover {
    width: 1004px;
    height: 640px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    width: 750px;
    height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 375px;
    height: 200px;
    margin-top: 66px;
  }
}
