.cover {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 1184px;
  max-height: 740px;
  box-sizing: content-box;
  
}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: 1004px;
    max-height: 740px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    max-height: 480px;
    margin-top: 66px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 320px;
    max-height: 240px;
    margin-top: 66px;
  }
}