.cover__overlay{
width: 1184px;
height: 740px;


display: flex;
background-image: url("../../../images/cover-trains.jpg");
background-size: contain;
flex-direction: column;
justify-content: center;
align-items: center;

}

/*
background: #2A2C2F;
opacity: 0.3;
*/