.place {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    max-width: 100%;
    margin: 80px auto 0;
    row-gap: 48px;
    column-gap: 40px;
}

.place:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .place {
        column-gap: 32px;
        max-width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
        margin: 80px 48px 0 48px;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin:0;   
        grid-template-columns: minmax(2,min-content, max-content);
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        row-gap: 28px;
        margin-top: 50px;
    }

    .place:last-of-type .place__paragraph {
        margin: 0 auto;
    }
}
@media screen and (max-width: 320px) {
    .place {
        grid-template-columns: minmax(min-content, max-content);
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        max-width: calc(100% - 2 * 16px);
        row-gap: 32px;
        margin: 50px 0 0 0;
    }

    .place:last-of-type .place__paragraph {
        margin: 0 auto;
    }
}